.detail__bg {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.detail__main {
    width: 67.1875rem;
    border-left: 1px solid #d6d9db;
    padding: 1.875rem 1.25rem;
    margin-top: 3.5625rem;
}

.detail__top {
    border-bottom: 1px solid #d6d9db;
    padding-bottom: 0.8125rem;
    margin-bottom: 0.9375rem;
}

.detail__title-container {
    display: flex;
    justify-content: space-between;
}

.detail__title {
    font-size: 25px;
}

.detail__date {
    color: #53595f;
    font-size: 13px;
    margin-top: 0.8125rem;
}

.detail__content-wrap {
    display: flex;
}

.detail__content-container {
    width: 48.125rem;
}